*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: helvetica;
}

body{
  background: linear-gradient(180deg, #594cee 0%, #8DD0F5 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}